<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd"
       default-lazy-init="true"> 
    
    
    
      
	<!-- Activates scanning of @Autowired -->
    <context:annotation-config/>	
   <!-- Activates scanning of @Repository -->	
  <context:component-scan base-package="com.abc.st.dao" /> 
  <!-- Activates scanning of @Autowired -->
    <context:annotation-config/>	
  <!-- Activates scanning of @Service -->
  <context:component-scan base-package="com.abc.st.service" />
  	
<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">  
<property name="driverClassName" value="com.mysql.jdbc.Driver" />  
<property name="url" value="jdbc:mysql://LocalHost:3306/springtest" />  
<property name="username" value="dba" />  
<property name="password" value="sql" />  
</bean>  
  <bean id="mysessionFactory"  class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">  
        <property name="dataSource" ref="dataSource"></property>  
          
      
        <property name="hibernateProperties">  
            <props>  
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
                  
            </props>  
        </property> 
        <property name="annotatedClasses">
	<list>
	    <!-- department module -->
		<value>com.abc.st.model.Department</value>
		<value>com.abc.st.model.Employee</value>
		<value>com.abc.st.model.Project</value>
		<value>com.abc.st.model.EmployeeIdCard</value>
		<value>com.abc.st.model.RegularEmployee</value>
		<value>com.abc.st.model.ContractEmployee</value>
		
		
		 
		
		
	</list>
    </property>
     
         
    </bean> 
    <tx:annotation-driven />
    <bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="mysessionFactory" />
	</bean>
    <bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />
  
  
</beans>
